version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: hacktrent_drummachine_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: hacktrent_drummachine_frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://backend:8000
