version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: hacktrent_drummachine_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/opt/drummachine/backend:ro
      - ./:/opt/drummachine:ro

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: hacktrent_drummachine_frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
